.context-menu {
    transform-origin: top left;
    transform: scale(var(--uiScale));
    width: 175px;
    display: flex;
    flex-direction: column;
    gap: 3px;
    padding: 3px;
    background-color: var(--c3a);
    backdrop-filter: blur(var(--blur));
    position: fixed;
    z-index: 999;
    transition: opacity 0.2s;
    border-radius: 7px;
    overflow: hidden;
}

.context-menu-item {
    width: 100%;
    color: var(--c1);
    font-size: 13px;
    padding: 5px 7px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.15s;
    text-align: left;
    vertical-align: middle;
}

.context-menu-item svg {
    float: right;
    height: 1.6em;
    margin: -0.18em;
    /* vertical-align: -0.45em; */
}

.context-menu-item:hover {
    background-color: var(--c3a);
}